.card{
    height:330px;
}

.card-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.col-lg-4 {
    width: 230pt;
    padding-left: 50pt;
}

.card-meta-title{
    font-weight: bold;
}

.card-meta-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card.border-none,
.card.border-none:hover,
.card-meta-title,
.card-meta-sub {
    text-decoration: none !important;
}
