<div id="subscribe">
    <div class="container">
      <div class="row justify-content-center">
        <div class="subscribe-content custom-dark-bg d-flex flex-wrap justify-content-center align-items-center padding-medium">
          <div class="col-md-6 col-sm-12">
            <div class="display-header pe-3">
              <h2 class="display-7 text-uppercase text-light">Feliratkozás</h2>
              <p class="text-light">Ne maradj le az újdonságokról!<br> Iratkozz fel hírlevelünkre és 10% kedvezményt kapsz első vásárlásodhoz!</p>
            </div>
          </div>
          <div class="col-md-5 col-sm-12">
            <span class="text-light" >{{message}}</span>
            <form [formGroup]="subForm" class="subscription-form validate" (ngSubmit)="submit()">
              <div class="input-group flex-wrap subscribe-elements-container">
                <input id="emailInput" class="form-control btn-rounded-none" type="email" formControlName="email" placeholder="E-mail" autocomplete="email" required>
                <button name="submit" class="btn btn-background-grey text-uppercase btn-rounded-none" type="submit">Feliratkozás</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
