<div class="container bootdey">
    <div class="row">
    <div class="col-md-3">
        <section class="panel">
            <header class="panel-heading" style="font-weight: bold; padding-bottom: 8pt; padding-top: 8pt;">
                Szűrés
            </header>
            <div class="panel-body">
                <form role="form product-form">
                    <div *ngIf="parentCategory?.name?.toLowerCase()?.includes('használt')" class="form-group">
                        <label>Márka</label>
                        <select class="form-control hasCustomSelect" style="-webkit-appearance: menulist-button; width: 231px; position: absolute; opacity: 0; height: 34px; font-size: 12px;">
                            <option>Wallmart</option>
                            <option>Catseye</option>
                            <option>Moonsoon</option>
                            <option>Textmart</option>
                        </select>
                        <span class="customSelect form-control" style="display: inline-block;"><span class="customSelectInner" style="width: 209px; display: inline-block;">Wallmart</span></span>
                    </div>
                    <div class="form-group filter-element">
                        <label>Szín</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="feherCheckbox">
                            <label class="form-check-label" for="feherCheckbox">Fehér</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="feketeCheckbox">
                            <label class="form-check-label" for="feketeCheckbox">Fekete</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="pirosCheckbox">
                            <label class="form-check-label" for="pirosCheckbox">Piros</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="zoldCheckbox">
                            <label class="form-check-label" for="zoldCheckbox">Zöld</label>
                        </div>
                    </div>                    
                    <div class="form-group filter-element">
                        <label>Méret</label>
                        <select class="form-control hasCustomSelect" style="width: 231px; position: absolute; opacity: 0; height: 34px; font-size: 12px;">
                            <option>XS</option>
                            <option>S</option>
                            <option>M</option>
                            <option>L</option>
                            <option>XL</option>
                        </select>
                        <span class="customSelect form-control" style="display: inline-block;"><span class="customSelectInner" style="width: 209px; display: inline-block;">S</span></span>
                    </div>
                    <div class="form-group filter-element">
                        <label for="customRange3" class="form-label">Ár</label>
                        <input type="range" class="form-range" min="0" max="100000" step="1" id="customRange3">
                    </div>
                    <button id="btn-filter" class="btn btn-primary" type="submit">Szűrés</button>
                </form>
            </div>
        </section>
    </div>
    <div class="col-md-9">
        <div class="row product-list">
            <div *ngFor="let product of products" class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">
                        <a [routerLink]="['/product/', product.id]" class="pro-title">
                           <img [src]="product.productPhotos.at(0)?.imageUrl" alt="" />
                        </a>    
                        <a class="adtocart">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </div>

                    <div class="panel-body text-center">
                        <h4>
                            <a [routerLink]="['/product/', product.id]" class="pro-title">{{product.name}}</a>
                        </h4>
                        <div class="price">{{ product.price }} Ft</div>
                    </div>
                </section>
            </div>

        </div>
    </div>
    </div>
</div>