<div class="container bootdey">
    <div class="row">
    <div class="col-md-3">
        <section class="panel">
            <header class="panel-heading" style="font-weight: bold; padding-bottom: 8pt; padding-top: 8pt;">
                Szűrés
            </header>
            <div class="panel-body">
                <form role="form product-form">
                    <div class="form-group">
                        <label>Márka</label>
                        <select class="form-control hasCustomSelect" style="-webkit-appearance: menulist-button; width: 231px; position: absolute; opacity: 0; height: 34px; font-size: 12px;">
                            <option>Wallmart</option>
                            <option>Catseye</option>
                            <option>Moonsoon</option>
                            <option>Textmart</option>
                        </select>
                        <span class="customSelect form-control" style="display: inline-block;"><span class="customSelectInner" style="width: 209px; display: inline-block;">Wallmart</span></span>
                    </div>
                    <div class="form-group">
                        <label>Szín</label>
                        <select class="form-control hasCustomSelect" style="width: 231px; position: absolute; opacity: 0; height: 34px; font-size: 12px;">
                            <option>Fehér</option>
                            <option>Fekete</option>
                            <option>Piros</option>
                            <option>Zöld</option>
                        </select>
                        <span class="customSelect form-control" style="display: inline-block;"><span class="customSelectInner" style="width: 209px; display: inline-block;">Fehér</span></span>
                    </div>
                    <div class="form-group">
                        <label>Méret</label>
                        <select class="form-control hasCustomSelect" style="width: 231px; position: absolute; opacity: 0; height: 34px; font-size: 12px;">
                            <option>XS</option>
                            <option>S</option>
                            <option>M</option>
                            <option>L</option>
                            <option>XL</option>
                        </select>
                        <span class="customSelect form-control" style="display: inline-block;"><span class="customSelectInner" style="width: 209px; display: inline-block;">S</span></span>
                    </div>
                    <div class="form-group">
                        <label for="customRange3" class="form-label">Ár</label>
                        <input type="range" class="form-range" min="0" max="100000" step="1" id="customRange3">
                    </div>
                    <button id="btn-filter" class="btn btn-primary" type="submit">Szűrés</button>
                </form>
            </div>
        </section>
    </div>
    <div class="col-md-9">
        <div class="row product-list">
            
            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">
                        <a href="#" class="pro-title">
                           <img src="https://www.bootdey.com/image/250x220/FFB6C1/000000" alt="" />
                        </a>    
                        <a href="#" class="adtocart">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </div>

                    <div class="panel-body text-center">
                        <h4>
                            <a href="#" class="pro-title">
                                Leopard Shirt Dress
                            </a>
                        </h4>
                        <p class="price">$300.00</p>
                    </div>
                </section>
            </div>

        </div>
    </div>
    </div>
</div>