<div class="navbar-container">
  <div class="navbar-top custom-dark-bg"> 
    <div class="navbar-top-flag"><img src="../../../assets/images/hungary.png" width="16" height="16">  HU</div>
    <div class="navbar-top-login-cart">
      <div class="navbar-top-login">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
          <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664z"/>
        </svg>
        <span>Bejelentkezés</span>
      </div>
      <div class="navbar-top-cart">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
        </svg>
        <span>Kosár (0)</span>
      </div>
    </div>
  </div>
  <div class="container-fluid navBarBottom" role="navigation">
    <div class="row text-center align-items-center g-0">
      <div class="col-lg-2 col-md-2 mx-auto" style="max-width:120px;">
        <div class="text-center py-2">
          <a href="/"><img class="logo-img" src="../../../assets/images/logo1.png" alt="" height="80"></a>
        </div>
      </div>
      <div *ngIf="rootCategories" class="col-lg-5 col-md-5 d-none d-lg-block d-md-block d-xs-none ms-auto">
        <div class="d-flex justify-content-around">
          <div *ngFor="let rootCategory of rootCategories" class="customLink">
            <a class="d-inline-block p-3" [routerLink]="['/products/', rootCategory.id]">{{ rootCategory.name }}</a>
            <div *ngIf="rootCategory.subCategories" class="shadow container dropdown-menu">
              <div class="row bg-white rounded-0 m-0 p-3">
                <div class="col-lg-7 col-xl-8">
                    <div class="row">
                      <div *ngFor="let subCategory of rootCategory.subCategories" class="col-lg-6 mb-4">
                          <a class="text-dark text-uppercase text-decoration-none" [routerLink]="['/products/', subCategory.id]">
                          {{subCategory.name}}
                          </a>
                        <ul class="list-unstyled" >
                          <li *ngFor="let subSubCategory of subCategory.subCategories" class="dropdown-list-element" [routerLink]="['/products/', subSubCategory.id]">
                            {{titleCaseWord(subSubCategory.name)}}
                          </li>
                        </ul>
                      </div>
                    </div>
                </div>
                <div *ngIf="rootCategory?.name?.toLowerCase()?.includes('férfi')" class="col-lg-5 col-xl-4 px-0 d-none d-lg-block"
                  [ngStyle]="{'background': 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), center center url(' + dropdownImages.men + ') no-repeat', 'background-size': 'cover'}">                
                </div>
                <div *ngIf="rootCategory?.name?.toLowerCase()?.includes('női')" class="col-lg-5 col-xl-4 px-0 d-none d-lg-block"
                  [ngStyle]="{'background': 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), center center url(' + dropdownImages.women + ') no-repeat', 'background-size': 'cover'}">
                </div>
                <div *ngIf="rootCategory?.name?.toLowerCase()?.includes('gyerek')" class="col-lg-5 col-xl-4 px-0 d-none d-lg-block"
                  [ngStyle]="{'background': 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), center center url(' + dropdownImages.children + ') no-repeat', 'background-size': 'cover'}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 d-none d-lg-block d-md-block d-xs-none me-auto">
        <div class="d-flex justify-content-around">
          <div class="customLink"><a class="d-inline-block p-3" href="#">Kapcsolat</a></div>
          <div class="input-group custom-search">
            <input type="text" class="form-control" placeholder="Keresés">
            <div class="input-group-append">
              <button class="btn" type="button">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
