* {
    font-family: 'Open Sans', sans-serif;
  }

.customLink > a{
  text-decoration : none;
  color: #181616;
  opacity: 0.95;
}

.customLink > a:hover{
  background-color: #181616;
  opacity: 0.95;
  color: white;
  border-radius: 5px;
  height: auto;
  
}

.navbar-top{
  color: white;
  text-align: center;
  padding-top: 2pt;
  padding-bottom: 0;
  font-weight: bold;
  font-variant-caps: all-small-caps;
  display: flex;
  justify-content: space-between;
}

.navbar-top-panel > a{
  color: white;
}

.navbar-top-flag, .navbar-top-flag > img {
  margin-left: 3pt;
  margin-bottom: 3pt;
  font-size: smaller;
}

.navbar-top-cart {
  margin-left: 8pt;
  margin-right: 8pt;
}

.navbar-top div:not(.navbar-top-welcome) {
  font-variant-caps: normal;
  font-weight: normal;
}

.navbar-top .navbar-top-login:hover, .navbar-top-cart:hover {
  text-decoration: underline;
}

.navbar-top svg,
.navbar-top span {
  margin-right: 4px;
}

.navbar-top div {
  display: inline-block;
}

.navBarBottom{
  background-color: white;
  font-weight: bold;
  font-variant-caps: all-small-caps;
}

.custom-search {
  padding-top: 10px;
  width: 250px;
  height: 35px;
}

.custom-search input {
  border-color: #181616;
  opacity: 0.95;
}

.custom-search div {
  background-color: #181616;
  border-radius: 5pt;
  opacity: 0.95;
}

.custom-search i {
  color: white;
}

/**/

.text-uppercase {
  letter-spacing: 0.08em;
}

.customLink:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  width: 50%;
}

.dropdown-list-element {
  font-weight: normal !important;
  font-variant-caps: normal !important;
  font-size: smaller;
  padding-top: 5pt;
  cursor: pointer;
}

.dropdown-list-element:hover {
  color: rgb(90, 90, 90);
}
