* {
    font-family: 'Open Sans', sans-serif;
  }
.customLink > a{
  text-decoration : none;
  color: #181616;
  opacity: 0.95;
}
.customLink > a:hover{
  background-color: #181616;
  opacity: 0.95;
  color: white;
  border-radius: 5px;
  height: auto;
  
}

.navbar-top{
  background-color: #181616;
  opacity: 0.95;
  color: white;
  text-align: center;
  padding-top: 2pt;
  padding-bottom: 0;
  font-weight: bold;
  font-variant-caps: all-small-caps;
  display: flex;
  justify-content: space-between;
}

.navbar-top-flag, .navbar-top-flag > img {
  margin-left: 3pt;
  margin-bottom: 3pt;
  font-size: smaller;
}

.navbar-top-cart {
  margin-left: 8pt;
  margin-right: 8pt;
}

.navbar-top div:not(.navbar-top-welcome) {
  font-variant-caps: normal;
  font-weight: normal;
}

.navbar-top .navbar-top-login:hover, .navbar-top-cart:hover {
  text-decoration: underline;
}

.navbar-top svg,
.navbar-top span {
  margin-right: 4px;
}

.navbar-top div {
  display: inline-block;
}

.navBarBottom{
  background-color: white;
  font-weight: bold;
  font-variant-caps: all-small-caps;
}

/* Új CSS a dropdown-hoz */
.dropdown-container {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.customLink:hover .dropdown-container {
  display: block;
}

.dropdown-columns {
    column-count: 2; /* Két oszlop */
    column-gap: 20px; /* Oszlopok közötti rés */
    padding: 10px;
  }

.dropdown-item {
  text-align: left;
  font-size: 10pt;
  display: block;
  padding: 2px;
  text-decoration: none;
  color: #181616;
  font-variant-caps: normal;
}

.dropdown-root-item {
  font-weight: bold;
}

.dropdown-root-item:hover{
  background-color: #f9f9f9;
  color: #181616;
}

.custom-search {
  padding-top: 10px;
  width: 250px;
  height: 35px;
}

.custom-search input {
  border-color: #181616;
  opacity: 0.95;
}

.custom-search div {
  background-color: #181616;
  border-radius: 5pt;
  opacity: 0.95;
}

.custom-search i {
  color: white;
}