/* You can add global styles to this file, and also import other style files */
.empty-placeholder{
    margin-bottom: 50px;
}

.custom-dark-bg{
    background-color: #1b1919;
}

.custom-dark-text{
    text-decoration : none;
    color: #1b1919 !important;
}

.clickable{
    cursor: pointer;
}