/* You can add global styles to this file, and also import other style files */
.empty-placeholder{
    margin-bottom: 50px;
}

.custom-dark-bg{
    background-color: #1b1919;
}

.custom-dark-text{
    text-decoration : none;
    color: #1b1919 !important;
}

.clickable{
    cursor: pointer;
}

.custom-sharp-btn {
    padding: 13px 30px  !important;
    background-color: #1b1919  !important;
    border-radius: 0  !important;
    font-size: 20px  !important;
    font-weight: bold  !important;
    color: #fff  !important; 
}
.custom-sharp-btn:hover {
    border: 1px solid #1b1919  !important;
    background-color: transparent  !important;
    color: #1b1919  !important; 
}