.padding-medium {
    padding-top: 4em;
    padding-bottom: 5em;
    width: 90%;
    align-self: center;
}

.display-header, .pe-3 p {
    padding-top: 1em;
}

.subscribe-elements-container{
    width: 22em;
}

.subscribe{
    align-items: center;
}

.app-base-color{
    background-color: #181616;
    opacity: 0.95;
}

.btn-background-grey{
    background-color: grey;
}

 button {
    color: white;
 }

 .btn:active{
    color: whitesmoke;
 }
 